 /* ELEMENT SELECTOR */
 p{
    border: 2px solid red;
}
 
 /* id selactor */
 #firstpara{
   
    color: red;
    
}
/* class selector */
.bgblue {
    color: yellow;
background-color: bisque;
}
/* grouping selector */
footer,span{
    background-color: red;
}
ul > li {
    background-color: rgb(35, 105, 105);
}
h2+h3{
    background-color: blue;
}
h4~h5 {
    background-color:red;}
    p::first-letter {
        color: #ff0000;
        font-size: xx-large;
      }a[target] {
        background-color: greenyellow;
      }
      p::first-line {
        color: #ff0000;
        font-variant: small-caps;
      }